/node_modules
/public/hot
/public/vendor
/public/products
/public/rating
/public/discount
/public/storage
/public/brand
/public/category
/public/chatImage
/public/cancel
/public/admin_staff
/public/assets
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject/private/
